/* 
    Created on : 15-giu-2017, 12.46.36
    Author     : lucio
*/

.wpv-calendar-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: 'serif';
  min-height: 5em;
  position: relative;
}

.wpv-calendar-wrapper td, .wpv-calendar-wrapper td:first-child, .wpv-calendar-wrapper td:last-child, .wpv-calendar-wrapper th, .wpv-calendar-wrapper th:first-child, .wpv-calendar-wrapper th:last-child {
    text-align: center;
    padding: 1.3rem;
    /* font-size: 80%; */
    border: 1px solid lightgray;
}

.wpv-calendar-month thead th {
    border: 1px solid lightgray;
}

.wpv-calendar-day {
  position: relative;  
}

.wpv-calendar-day-today {
  color: darkblue;
}

.wpv-calendar-day-inthepast {
  color: darkred;
}

.wpv-calendar-day-inthefuture {
  color: darkgreen;
}

.wpv-calendar-previous-month-button, .wpv-calendar-next-month-button {
  cursor: pointer;
}

.wpv-calendar-daynumber {
  width: 1.5rem;
  height: 1.5rem;
}

.wpv-calendar-daytag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.wpv-calendar-daytag-daytype {
  display: none;
}

.wpv-calendar-daytag-nonworking {
  background-image: url('../../images/nonworking.png');
}

.wpv-calendar-daytag-nonworkingeve {
  background-image: url('../../images/nonworkingeve.png');
}

.wpv-calendar-legendicon-nonworking {
  background-image: url('../../images/legendicon-nonworking.png');
}

.wpv-calendar-legendicon-nonworkingeve {
  background-image: url('../../images/legendicon-nonworkingeve.png');
}

.wpv-calendar-daytag-availability {
  display: none;
}

.wpv-calendar-daytag-availability-empty {
  background-image: url('../../images/availability-empty.png');
}

.wpv-calendar-daytag-availability-low {
  background-image: url('../../images/availability-low.png');
}

.wpv-calendar-daytag-availability-normal {
  background-image: url('../../images/availability-normal.png');
}

.wpv-calendar-daytag-availability-full {
  background-image: url('../../images/availability-full.png');
}

.wpv-calendar-legendicon-availability-empty {
  background-image: url('../../images/legendicon-availability-empty.png');
}

.wpv-calendar-legendicon-availability-low {
  background-image: url('../../images/legendicon-availability-low.png');
}

.wpv-calendar-legendicon-availability-normal {
  background-image: url('../../images/legendicon-availability-normal.png');
}

.wpv-calendar-legendicon-availability-full {
  background-image: url('../../images/legendicon-availability-full.png');
}

.wpv-calendar-legend-entry {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid black;
  border-bottom: 1px dashed lightgray;
}
.wpv-calendar-legend-icon {
  width: 1rem;
  height: 1rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid lightgray;
  margin: 0.5rem;
}

.wpv-booking-startdate-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.wpv-booking-startdate-title i.fa.fa-cog {
    display: block;
    position: absolute;
    right: 0;
    top: 1.5rem;
    font-size: 250%;
    width: 2rem;
    height: 2rem;
}

.wpv-calendar-controlpanel {
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 0.7rem 0.07rem;
    box-sizing: border-box;
    margin: 1rem 0;
}

.wpv-calendar-option-checkbox {
  padding: 1rem;
  border: 1px solid lightgray;
  box-shadow: 0 0 2px 2px;
  border-radius: 1rem;
  cursor: pointer;  
}

.wpv-calendar-option-checkbox-icon-checked {
  display: none;
}

.wpv-calendar-option i.fa {
  font-size: 200%;
}

.wpv-calendar-option-checkbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 3;
}

.wpv-calendar-option-checkboxicon-wrapper {
  height: 3rem;
  width: 3rem;
  position: relative;
}

.wpv-calendar-option-checkbox-icon, .wpv-calendar-option-checkbox-icon-checked {
    position: absolute;
    top: 0;
    left: 0;
}

.fa.wpv-calendar-option-checkbox-icon-checked {
  display: none;
}

.wpv-calendar-legend {
    margin: 0.5rem 0 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 5;
}

.wpv-calendar-options-gear, .wpv-calendar-clickable-day {
  cursor: pointer;
}

.wpv-calendar-options {
  display: none;
}

.wpv-calendar-option {
  font-size: 90%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wpv-calendar-selected-day, .wpv-calendar-first-selected-day, .wpv-calendar-last-selected-day {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.wpv-calendar-selected-day {
  background-image: url('../../images/selected-day.png');
}

.wpv-calendar-first-selected-day {
  background-image: url('../../images/selected-day-first.png');
}

.wpv-calendar-last-selected-day {
  background-image: url('../../images/selected-day-last.png');
}

.wpv-calendar-legend-text {
  font-size: 80%;
}

.wpv-calendar-daytag-single-accommodation-ok {
  display: none;
  background-image: url('../../images/ok.png');
}

.wpv-calendar-daytag-single-accommodation-ko {
  display: none;
  background-image: url('../../images/ko.png');
}

.wpv-calendar-daytag-single-accommodation-legendicon-ok {
  background-image: url('../../images/legendicon-ok.png');
}

.wpv-calendar-daytag-single-accommodation-legendicon-ko {
  background-image: url('../../images/legendicon-ko.png');
}