/* 
    Created on : 15-giu-2017, 12.46.36
    Author     : lucio
*/

.wpv-calendar-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: 'serif';
}

.wpv-calendar-wrapper td, .wpv-calendar-wrapper td:first-child, .wpv-calendar-wrapper td:last-child, .wpv-calendar-wrapper th, .wpv-calendar-wrapper th:first-child, .wpv-calendar-wrapper th:last-child  {
    text-align: center;
    padding: 0.65rem;
    font-size: 80%;
    border: 1px solid lightgray;
}

.wpv-calendar-day-today {
  color: darkblue;
}

.wpv-calendar-day-inthepast {
  color: darkred;
}

.wpv-calendar-day-inthefuture {
  color: darkgreen;
}